.wrap {
    padding: 1rem;
    
    .crumbs {
        margin-bottom: 5rem;
    }
    h1 {
        font-size: 40px;
    }

    .middle{
        flex: 1 1 10%;
        
    }

    .listCard{
        overflow-y: scroll;
        // max-width: 100%;
        // width: 100%;
    }

    .inline{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .card{
        border: 1px 1px black;
    }
}