.navigation {
    width: fit-content;
    margin-left: 1rem;
    font-weight: bold;

    //margin: 5rem 0 5rem;

    ul {
        margin-left: -38px;
        padding-left: 0;
        display: flex;
        // align-content: space-between;
        align-items: flex-start;
        // list-style:none; margin-left: 0;

        li {
            list-style-type: none;
            // margin: 0 2vw;
            font-size: 3vh;
        }

        a {
            text-decoration: none;
            cursor: pointer;
            text-transform: uppercase;
            /*below I changed the color*/
            color: black;
            /*I added some padding*/
            padding: 2vw;
            font-size: 13px;
            /*also changed the font family but that's totally irrelevant*/
            // font-family: monospace;
        }

        li:hover a {
            color: #527b99;
            background: none;
        }
    }
}