.historic-wrapper {
    .historic-cards {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .card-item {
            margin-bottom: 2.5rem
        }
    }

    .news-twitter-content {
        display: flex;
        justify-content: center
    }

    .paper-content {
        padding: 1rem;

        .paper-title {
            display: flex;
            align-items: center;

            .alert-icon {
                width: 32px;
                // vertical-align: middle
                margin-bottom: 7px;
            }
        }


    }

    .div-wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 3em;
    }
}
